<% if line_item == @current_item %>
<tr class="line-item-highlight">
<% else %>
<tr>
<% end %>
  <td class="quantity"><%= line_item.quantity %></td>
  <td><%= line_item.product.title %></td>
  <td class="price"><%= number_to_currency(line_item.total_price) %></td>
  <td><%= button_to '+', line_items_path(product_id: @product), remote: true, class: "btn btn-info" %></td>
  <td><%= button_to '-', @cart, method: :delete, class: "btn btn-warning" %></td>
</tr>
